.App {
  font-family: sans-serif;
  text-align: center;
}
.sublist {
  display: none;
}
.submit:hover .sublist {
  display: block;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
